.menu-section {
  background-color: white;
  border-right: #006098;
}

.heading {
  color: #006098;
}
.fill-btn {
  background-color: #006098;
  color: white;
}

.border-btn {
  border: 1px solid #006098;
  background-color: white;
  color: #006098;
  border-radius: 6px;
  /* padding: 2px; */
}

.border-btn:hover {
  border: 1px solid #006098;
  background-color: #006098;
  color: white;
}

ul {
  list-style-type: none;
}

.dining-menu-img {
  height: 20px;
  width: 20px;
}

.item-type {
  height: 20px;
  width: 20px;
}

input[type="checkbox"] {
  accent-color: #006098;
}

.form-switch .form-check-input {
  background-color: #d6d3d3;
  border: #006098;
  background-image: url(../Assets/toggle-icon.svg) !important;
}

.form-switch .form-check-input:checked {
  background-color: #006098;
}

.menu-catagory {
  height: 300px;
  overflow-y: auto;
  max-height: max-content;
}

#nav-tab button {
  color: black;
  text-decoration: #006098;
}

#nav-tab button:focus {
  color: #006098;
  text-decoration: #006098;
}

#nav-tab button:active {
  color: #006098;
  text-decoration: #006098;
}

.page-count {
  width: 40px;
}

.search-icon {
  position: absolute;
  margin-left: -40px;
  z-index: 2;
  margin-bottom: 15px;
}
